*{
    font-family:"Roboto";
    margin:0;

}

body{
    text-align: center;
}

img{
    width:150px;
    height:auto;
}

.navbar{
    position: fixed;
    width: 1920px;
    height: 1080px;
    max-height:11%;
    color:white;
    font-size: 20px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    padding:5px;
    padding-bottom:10px;
    background-color: rgb(167, 167, 29);
}
.navbarflex{
    display:flex;
    justify-content: space-evenly;
}

.navbarflex form{
    display:flex;
    justify-content: flex-end;
    margin-left:200px;
}

#logo{
    font-family: "homemade apple";
    letter-spacing: 10px;
    font-size:35px

}

.box{
    border:50px solid;
    border-color: white;
}

.container_sales{
    background-color: grey;
    padding:50px;
    margin-top:100px;
}

.container_sales h1{
    color:white;
    border-bottom: 2px solid;
    border-color: white;
}

.gallery{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    color:white;
}