
/*My CSS*/
html{
    width:100%;
    height:100%;
}

*{
    font-family:"Roboto";
    margin:0;
    color:white;
}
body{  /* Setting up galaxy background and making every text unless setted otherwise */
    text-align: center;
    background-image: url("/images/1337846.png");
    background-size: cover;
    z-index: -10;
}

img{
    width:150px;
    height:auto;
}

/*Image for Index.html*/
.homeimage{
  position:absolute;
  background-image: url(/images/fashion-women-pants-blonde-friends.jpg);
  background-size: cover;
  width: 1920px;
  height:1080px;
  max-width:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-top:3.55%;
}

.header{ /* Captions in index html */
  margin-right:5%;
  margin-bottom:10%;
  font-size:50px;
  font-weight:bold;
  color:rgb(165, 41, 62);
  word-spacing: 150px;
}
.header h1{ /* Logo in captions */
  font-weight:bolder;
  font-family:"homemade apple";
  color:red;
  border-bottom:2px dashed;
  border-color: azure;
}
.header a{
  width:100px;
}

.button{ /* Button in index html */
  position:relative;
  font-size:30px;
  padding:10px 200px;
  border-radius: 20px;
  background-color: azure;
  color:black;
  border:2px solid black;
}
.navbarflex{ /* Navigation bar */
    border-bottom:3px solid;
    position: fixed;
    width: 1920px;
    height: 1080px;
    max-height:7%;
    max-width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    z-index: 100;
}
.navbarflex div{ /* Icons in Navigation bar */
    margin-right:70px;
    font-weight: bold;
    transition: transform 0.3s; /* Animation */
}
.navbarflex div:hover{
  transform: translateY(-3px) /* Animation */
}
.navbarflex i{ /* Shopping cart icon */
    margin-right:40px;
    transition: transform 0.3s;
}
.navbarflex i:hover{
  transform: translateY(-3px) /* Animation */
}
.navbarflex form{ /* Search */
  font-weight:bold;
}

.hamburger{ /*Responsive menu*/
  display:none;
}

.hamburger span{ /*Changing the button that displays the menu */
  display:block;
  width:20px;
  height:3px;
  margin:5px;
  background-color:white;
}

#logo{ /* Logo, Fashionable */
    position: fixed;
    z-index:100;
    width: 1920px;
    height: 1080px;
    max-height:7%;
    max-width: 100%;
    margin-left:50px;
    margin-top:7px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 20%;
    font-family: "homemade apple";
    font-weight: bolder;
    font-style:italic;
    letter-spacing: 10px;
    font-size:25px
}

/*Container for sales refers to container for item being sold*/
.container_sales{
    background-color: rgba(0, 0, 0, 0.7);
    margin:20px;
    padding:50px;
    margin-top:130px;
    border-radius: 75px;
    border:2px solid white;
}

.container_sales h1{ /* Header within the container */
    color:white;
    border-bottom: 2px solid;
    border-radius: 20px;
    border-color: white;
}

/*Gallery refers to the display of images*/
.gallery{
    display:flex;
    gap:10px;
    justify-content: space-around;
    flex-wrap:wrap;
    color:white;
}
.gallery img{ /* Adjusting the size such that it fits in the containers */
    /* flex-basis:13.5%;  */
    flex-grow:0;
    width:13%; /*Used to be 230 px*/
    height:auto;
}

.gallery h3{ /* Adjusting the description of the images */
    justify-content: center;
    width:13%; /*Used to be 230px*/
    margin-top:10px;
}

/*Box is to expand the border around the images of the item being sold to look neater*/
.box1{
    border:20px solid;
    border-radius:20px;
    border-color: white;
    display:flex;
    order:0;
}
.box2{
    border:20px solid;
    border-radius:20px;
    border-color: white;
    display:flex;
    order:0;
}
.box3{
    border:20px solid;
    border-radius:20px;
    border-color: white;
    display:flex;
    order:0;
}
.box4{
    border:20px solid;
    border-radius:20px;
    border-color: white;
    display:flex;
}
.box5{
    border:20px solid;
    border-radius:20px;
    border-color: white;
    display:flex;
    order:0;
}
.box6{
    border:20px solid;
    border-radius:20px;
    border-color: white;
    display:flex;
    order:0;
}
/* Item is to set every description as a item such that it has an order */
.item7{
    display:flex;
    order:0;
}
.item8{
    display:flex;
    order:0;
}

.item9{
    display:flex;
    order:0;
}

.item10{
    display:flex;
    order:0;
}

.item11{
    display:flex;
    order:0;
}

.item12{
    display:flex;
    order:0;
}


.shoppingcart{ /* Container on the left */
  position:absolute;
  margin-top:7%;
  margin-left:2%;
  width:1920px;
  height:1080px;
  max-width:57%;
  max-height:80%;
  display:flex;
  border:2px solid;
  border-color:white;
  flex-direction: column;
  background-color:rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.shoppingcart h1{ /* Header within the container */
  border-bottom:2px solid;
  border-color:white;
  border-bottom-left-radius:200px;
  border-bottom-right-radius:200px;
  padding-bottom:20px;
}
.display{ /* Displaying of items within the cart */
  max-height:90%;
  margin-top:1%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap:wrap;
  gap:100px;
  font-size:larger;
  font-weight:bold;
  margin-left:10%
}
.display img{ /* Images within the cart */
  max-width:20%;
  height:auto;
}
.display div{ /* Items in the cart */
  background-color: azure;
  border-radius:10px;
  color:black;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:20%;
  height:70px;
}

.cost{  /* Container of the Total cost */
  position:absolute;
  display:flex;  
  width:20%;
  height:100px;
  flex-direction:column;
  align-items: flex-start;
  margin-top: 36%;
  margin-left:35%;
  background-color: azure;
  border-radius: 20px;
}
.cost h2{ /* Header of total cost */
  color:black;
  font-size:30px;
  font-weight:bold;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  border-bottom:2px solid;
  /* border:2px solid;
  border-color:white; */
}

.cost div{ /* Total cost */
  color:black;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:4%;
  font-size:30px;
  font-weight:bold;
}

.checkout{ /* Container on the right */
  position:absolute;
  margin-top:7%;
  margin-left:65%;
  width:1920px;
  height:1080px;
  max-width:30%;
  max-height:80%;
  background-color:rgba(0, 0, 0, 0.7);
  border:2px solid;
  border-color:white;
  border-radius:20px;
}

.checkout h1{ /* Header of the container */
  border-bottom:2px solid;
  border-bottom-left-radius:200px;
  border-bottom-right-radius:200px;
  padding-bottom:20px;
}

.form{ /* Container for the options within checkout */
  display:flex;
  flex-direction: column;
  height:50%;
  gap:20px;
  font-size:20px;
  font-weight:bold;
  margin-top:7%;
}
.form div{  /* Container for the actual selection for card or paynow */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left:5%;
}
.form_image1{
  max-width:15%;
}
.form_image2{
  margin-left:8%;
}

.promo{ /* Container for promo code */
  margin-left:20px;
  margin-top:7%;
}
.promo label{ /* Text that says Promo Code */
  display:flex;
  justify-content: flex-start;
  font-size:20px;
  font-weight:bold;
}

.promocode{ /* Container for promo code text box and the submission button */
  display:flex;
  gap:30px;
}
.promocode input{ /* Promo code text box */
  color:black;
  border-radius:10px;
  border:0px solid;
  padding:5px;
  font-weight:bold;
}
.promocode button{ /* Promo code submission */
  color:black;
  border-radius:10px;
  border:0px solid;
  font-weight:bold;
}
.checkoutbutton{ /* Checkout Button at the bottom at the container on the right */
  color:rgb(0, 0, 0);
  border:2px solid;
  margin-top:17%;
  border-radius:20px;
  font-weight:bold;
  width:95%;
  padding:2%;
}

@media screen and (max-width:431px){
    .homeimage{ /*Making the home image fit inside a mobile device screen*/
      width: 100%;
      height:932px; 
      margin-top:0%;
    }

    /*Changing and readjusting the size and location*/
    .header{
      font-size:small;
      word-spacing:20px;
      margin:0;
      margin-top:75%;
      margin-right:30%;
    }
    .button{ 
      font-size:small;
      padding:5px 100px;
    }
    .navbarflex{ /*Rearranging the navigation menu such that it fits well in a mobile device*/
        width: 430px;
        height:932px;
        font-size: small;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height:40%;
        border-bottom: 0px;
        left:-100%;
        gap:28px;
        transition: 0.3s; /*Time taken for it to move from -100% left to 0 left is 0.3s*/
    }
    .navbarflex.active{ /*When toggled, the menu will come out from the left*/
      left:0;
      background-color:rgba(0, 0, 0, 0.85);
    }
    
   .navbarflex div{ /*Readjusting each icon to its appopriate spot*/
        margin-right:0px;
    }
    #logo{ /*Readjusting of the logo Fashionable  */
        font-size:20px;
        margin-left:5%;
        
    }
    .navbarflex form{ /*Readjusting the location of search and cart icon*/
        margin:0px;
    }

    .hamburger{ /*Responsive menu for mobile*/
      position:fixed;
      display:block;
      right:30px;
      top:20px;
    }

    .container_sales{ /*Readjusting of the space it takes for each container in the shopping display of the clothes*/
        border-radius:35px;
        margin-top:85px;
    }  
    .gallery{ /*Displaying correctly the clothes*/
        display:flex;
        justify-content: space-around;
        gap:15px;
    }
    .gallery img{  /*Readjusting of image size*/ 
        display:flex;
        width:30%;
        height:auto;
    } 
    .gallery h3{ /*Readjusting of image description*/
        width:30%;
        height:10%;
    }

    /* Changing the order such that it would fit in a container with a formation of a 3 by 2  */
    .box1{
        border:20px solid;
        border-color: white;
        order:0;
    }
    .box2{
        border:20px solid;
        border-color: white;
        order:1;
    }
    .box3{
        border:20px solid;
        border-color: white;
        order:4;
    }
    .box4{
        border:20px solid;
        border-color: white;
        order:5;
    }
    .box5{
        border:20px solid;
        border-color: white;
        order:8;
    }
    .box6{
        border:20px solid;
        border-color: white;
        order:9;
    }
    .item7{
        order:2;
    }
    .item8{
        order:3;
    }
    .item9{
        order:6;
    }
    .item10{
        order:7;
    }
    .item11{
        order:10;
    }
    .item12{
        order:11;
    }

    
    .shoppingcart{ /*Resizing container on the left for checkout.html*/
      width: 430px;
      height:932px;
      margin-top:25%;
      max-width:95%;
    }
    .checkout{ /*Readjusting the size of the container on the right for checkout.html*/
      top:75%;
      width: 430px;
      height:932px;
      margin-top:45%;
      margin-left:2%;
      max-width:95%;
    
    }
    .checkoutbutton{
      margin-top:10%; /*Added*/
    }
    .display{
      gap:50px;
      /*Added to check on laptop */
      max-width:70%;
      max-height:45%;
    }
    .display div{ /*Readjusting size of the image*/
      width:50%;
    }
    .cost{ /*Making the container for the displaying of total cost*/
      width: 430px;
      height:932px;
      margin-top:150%;
      margin-left:220px;
      max-width:40%; 
      max-height:50px;
    }
    /*Adjusting of total cost*/
    .cost h2{
      font-size: medium;
    }
    .cost div{
      font-size:medium;
    }
    .form{ /*Adjusting the container of form*/
      margin-top:15%;
    }
    /*Moving the images of the form, card and paynow logo*/
    .form_image1{
      left:50%;
    }
    .form_image2{
      left:40%;
    }
    
}

